.sidebar-admin {
  position: fixed;
  /* margin-top: 59px; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background: #f7f7f7;
  border-right: solid rgb(170, 168, 168) 1px;
  z-index: 0;
}

.user-name {
  text-align: center;
  margin-top: 15px;
 
}

.box{
  text-align: center;
  height: 100px;
  width:200px;
  background: #ffffff;
  border: 1px solid rgb(177, 177, 177);
} 
.card{
  width: 20%;
  margin-top: 20px;
}

.registraion{
  margin: 20px;
}


.toppage {
  margin-top: 20px;
}


/* Container for the sidebar */
.sibarcss{
  /* background-color: #a8cef5; */
  position: Sta;
  height: 90vh;
  width: 250px;
  border-right: solid 1px #252525;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Title of the sidebar */
.user-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding: 4px;
  background: #252525;
}

/* For each user link */
.sibarcss .user-link {
  display: block;
  text-align: left;
  padding: 4px 5px;
  border-radius:4px;
  color: #202020;
  font-size: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
}

/* Hover effect for each user link */
.sibarcss .user-link:hover {
background-color: #c1e3ff;
color: #000;
}

/* Active link style */
.sibarcss.user-link.active {
background-color: #3968eb; 
color: white;
}

.categoryName{
color: #202020;
text-decoration: none;
}

.categoryName:hover{
 text-decoration: none;
}
.xyxe{
  text-decoration: none;
}
.xyxe:hover{
  text-decoration:none;
}
.export{
  background:  #252525
}

.adminnav{
  border-bottom: #252525 solid 1px;
}